//************** icons todobusco **************//
- rutaImagenes ='../../../imagenes'
div(class="contenedor-icons-todobusco")
	div(class="borde-green")
	div(class="contenedor-icons-todobusco-img")
		a(href="#" class="cuadro-icons-todobusco")
			img(src=rutaImagenes+"/icono_casa.sgv.svg")
		a(href="#" class="cuadro-icons-todobusco")
			img(src=rutaImagenes+"/icono_carro.sgv.svg")
		a(href="#" class="cuadro-icons-todobusco")
			img(src=rutaImagenes+"/icono_empleo.sgv.svg")
		a(href="#" class="cuadro-icons-todobusco")
			img(src=rutaImagenes+"/icono_venta.sgv.svg")
	div(class="contenedor-btn-publica-aviso-todobusco")
		span(class="blg")
		a(href="#" class="btn-publica-aviso-todobusco") Publica tu anuncio
		span(class="brg")
//************** icons todobusco **************//
