//************** filtro gallito **************//
@font-face {
  font-family: "calibri";
  src: url("../../../fonts/calibri/calibri.eot") format("embedded-opentype"), url("../../../fonts/calibri/calibri.woff") format("woff"), url("../../../fonts/calibri/calibri.ttf") format("truetype");
}
.desplegarFiltro
    display none
.contenedor-filtro-gallito
    display inline-block
    background #eeeeee
    width 18em
    font-family calibri
.cont-filter-gallito-movile
    padding 0em !important
.contenedor-title-gallito-filter
    color white
    padding 0.2em 1em
    background #353e4a
    font-weight bold
    position relative
    border-bottom 1px solid white
    text-align left
.filtro-gallito-burbuja
    display inline-block
    background #52749a
    color white
    border-radius 5px
    padding 0.2em 1em
    width 16em
    text-align left
    margin 0.2em 0em
    font-size 1em
    position relative
.filtro-gallito-burbuja span
    color white
.filtro-gallito-content-1
    text-align center
    padding 0.5em 0em
.icon-close
    display inline-block
    vertical-align middle
    font-size 0.8em !important
    padding 0.1em 0.2em
    border-radius 50%
    border 1px solid white
    position absolute
    right 8px !important
    top 6px !important
    cursor pointer
.filtro-gallito-title i
    position absolute
    right 8px
    top 4px
    cursor pointer
    font-size 1.2em
.cont-filter-gallito
    text-align center
    padding 0.5em 1em
.input-filter
    width 100%
    outline none
    border-radius 5px
    border 1px solid #cacaca
    padding 0.2em 1em
.cont-filter-text-number
    padding 0.2em 0em
    text-align left
    position relative
.cont-filter-number
    position absolute
    right 1em
.cont-filter-text
    color gray
.cont-filter-number
    color #455b79
    cursor pointer
.link-filter-nivel
    text-decoration underline
@media screen and (max-width: 1021px)
    .contenedor-filtro-gallito
        width 18em
    .filtro-gallito-burbuja
        width 16em
@media screen and (max-width: 920px)
    .contenedor-filtro-gallito
        width 15em
    .filtro-gallito-burbuja
        width 13em
@media screen and (max-width: 840px)
    .contenedor-filtro-gallito
        font-size 14px
@media screen and (max-width: 560px)
    .contenedor-filtro-gallito
        font-size 16px
    .contenedor-filtro-gallito
        width 100%
    .filtro-gallito-burbuja
        width 96%
    .desplegarFiltro
        display inline-block
    .cont-filter-gallito-movile
        display none
//************** filtro gallito **************//
