//************** paginado gallito **************//
.contenedor-paginado-gallito
	text-align center
.paginate-gallito-arrow i
	color #5e7397
	font-size 2em
	cursor pointer
	padding 0.5em
	transition all ease 0.3s
.paginate-gallito-arrow i:hover
	color #353e4a
	transform scale(1.2)
.paginate-gallito-number
	font-size 1.4em	
	padding 0.15em  0.6em
	display inline-block
	color #585858
	text-decoration none
	cursor pointer
	transition all ease 0.3s
.paginate-gallito-number:hover
	text-decoration none
	color #5e7397
	transform scale(1.2)
.paginate-gallito-arrow,.paginate-gallito-number
	display inline-block
	vertical-align middle
.paginate-gallito-selected
	background #5e7397
	border-radius 50%
	color white
.paginate-gallito-selected:hover
	color white
@media screen and (max-width: 442px)
	.contenedor-paginado-gallito
		font-size 12px
//************** paginado gallito **************//
