//************** paginado gallito **************//
- rutaImagenes ='../../../imagenes'
div(class="contenedor-paginado-gallito")
	a(href="#" class="paginate-gallito-arrow")
		i(class="fa fa-caret-left" aria-hidden="true")
	a(href="#" class="paginate-gallito-number paginate-gallito-selected") 1
	a(href="#" class="paginate-gallito-number") 2
	a(href="#" class="paginate-gallito-number") 3
	a(href="#" class="paginate-gallito-number") 4
	a(href="#" class="paginate-gallito-number") 5
	span(href="#" class="paginate-gallito-point") .
	span(href="#" class="paginate-gallito-point") .
	span(href="#" class="paginate-gallito-point") .
	span(href="#" class="paginate-gallito-point") .
	a(href="#" class="paginate-gallito-number") 15
	a(href="#" class="paginate-gallito-arrow")
		i(class="fa fa-caret-right" aria-hidden="true")
//************** paginado gallito **************//
