/************** modal gallitoCuenta **************/
@font-face {
  font-family: "calibri";
  src: url("../../../fonts/calibri/calibri.eot") format("embedded-opentype"), url("../../../fonts/calibri/calibri.woff") format("woff"), url("../../../fonts/calibri/calibri.ttf") format("truetype");
}
@-moz-keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
@-webkit-keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
@-o-keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
@keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
.header-modal-gallitoCuenta
    background:#353e4a;
    height:3.75em;
    position relative
.gallito-icon a
    text-decoration none
a:hover
    text-decoration:none
.relative
    position relative
.inline-block-top
    display:inline-block
    vertical-align:top
.inline-block-middle
    display:inline-block
    vertical-align:middle
.gallito-icon
    position: absolute;
    left: 1em;
    top: 0.4em;
    font-size: 1.7em;
.gallito-icon-title-sub
    display inline-block
    vertical-align top
    padding 0em 0.5em
    border-left 1px solid white
    color white
    margin-left 0.5em
.gallito-link-header
    cursor pointer
.gallito-register-container
    position: absolute;
    right: 1em;
    top: 1em;
.gallito-icon-title
    color white;
.gallito-icon-com
    color:#99bde3;
.gallito-register-botton input
    background: #52749a;
    color: white;
    border: navajowhite;
    outline: none;
    -webkit-appearance: none;
    padding: 0.3em 1em;
.gallito-register-botton input:hover    
    animation: animationButton 1.5s infinite;
.gallito-text-blue
    font-weight: bold;
    color: #52749a;
    transition all ease 0.3s
.gallito-text-white
    color: white;
    font-weight: bold;
    transition all ease 0.3s
.gallito-register-text
    margin-left 1em
.gallito-text-blue:hover
    color #e26a39
.gallito-text-white:hover
    color #e26a39
.header-modal-gallitoCuenta
    padding 0em
.modal-body-gallitoCuenta
    padding 3% 3%
.title-text-modal-gallitoCuenta
    font-size 2em
    color #353e4a
.modal-dialog-gallitoCuenta
    font-family calibri
.cont-title-short-gallitoCuenta
    margin-top -1em
    font-size 14px
    padding-bottom 1em
.title-short-gallitoCuenta-gray
    color #808080
.title-short-gallitoCuenta-color
    cursor pointer
    color #5183af
.title-short-gallitoCuenta-color:hover
    color #67a9e2
.relative-recordarme
    position relative
.contenedor-recordarme
    right 0
    position absolute
#label-recordarme
    font-weight normal
    vertical-align middle
    cursor pointer
.cont-btn-ingresar-gallitoCuenta
    text-align center
.btn-ingresar-gallitoCuenta
    background: #52749a;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 0;
    padding: 0.3em 3em;
    transition all ease 0.3s
.btn-ingresar-gallitoCuenta:hover
    background #353e4a
    color white
.cont-btn-ingresar-gallitoCuenta
    padding 2em
.cont-text-2-gallitoCuenta
    text-align center
    font-size 14px
    padding-bottom 0.1em
.btn-facebook-gallitoCuenta
    width: 100%;
    padding: 0.4em;
    background: #145781;
    color: white;
    border: none;
    transition all ease 0.3s
.btn-facebook-gallitoCuenta:hover
    background #353e4a
.icon-face-modal-gallitoCuenta
    font-size 2em
    padding 0em 0.5em
    margin-left -1em
    vertical-align middle
.vam
    vertical-align middle
    font-weight bold
.close
    color white
    border none !important
    opacity 1
    position absolute
    right -21px
    top -23px
    padding 0.1em !important
    text-shadow inherit
    font-size 25px
    outline none
    transition all ease 0.3s
.close:hover
    color white
@media screen and (max-width: 767px)
    .close
        right -6px
        top -12px
        z-index 9
@media screen and (max-width: 614px)
    .gallito-icon,.gallito-register-container
        position initial
        text-align center
    header-modal-gallitoCuenta
        height inherit
        padding 0.5em
    .gallito-icon
        border-bottom 1px dashed white
        margin-bottom 0.5em
    .gallito-icon-title-sub
        border-left 1px dashed #fff
    .header-modal-gallitoCuenta
        height 6em
@media screen and (max-width: 532px)
    .header-modal-gallitoCuenta
        font-size 12px
    .title-text-modal-gallitoCuenta
        font-size 1.5em
    .contenedor-recordarme,.block-olvide-contra
        display block
        text-align center
        width 100%
@media screen and (min-width: 1000px)
    .modal-dialog-gallitoCuenta
        width 650px
/************** modal gallitoCuenta **************/
