//************** header urbania **************//
- rutaImagenes ='../../../imagenes'
div(class="row")
	div(class="col-xs-12 col-sm-12 col-md-4")
		img(src=rutaImagenes+"/logo.png")
//************** header urbania **************//
